@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>

    <div class="jumbotron">
        <div class="row">
            
            <div class="center mt-3">
                <img src="~/Images/Pic_Klang_IT_V2.png" height="700" width="700">
                </div>
            
            </div>


        </div>
    </div>



