@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fs-4">การจัดการสถานะของวัสดุ/ครุภัณฑ์</h1>
    <div class="jumbotron">
        <div class="row">
            <div class="center mt-3">
                <img src="~/Images/ItemStatesThai_V2.png" height="381" width="700">
                </div>
            </div>
        </div>
    </div>