@model KlangIT_V3.Models.ItemTypeToBrand

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ItemTypeToBrand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-4">
                <label asp-for="ItemTypeId" class="control-label"></label>
                <select asp-for="ItemTypeId" class="form-control" asp-items="ViewBag.ItemTypeId"></select>
            </div>
            <div class="form-group mb-4">
                <label asp-for="ItemBrandId" class="control-label"></label>
                <select asp-for="ItemBrandId" class="form-control" asp-items="ViewBag.ItemBrandId"></select>
            </div>
            <div class="form-group mb-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
