@model KlangIT_V3.ViewModels.ItemTypeToBrandEditViewModel

@{
    ViewData["Title"] = "แก้ไขประเภท-ยี่ห้ออุปกรณ์";
}

<h1>แก้ไขประเภท-ยี่ห้ออุปกรณ์</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-4">
                <label asp-for="SelectedItemTypeId" class="control-label">ประเภทอุปกรณ์</label>
                <select asp-for="SelectedItemTypeId" class="form-control" asp-items="Model.ItemTypes"></select>
                <span asp-validation-for="SelectedItemTypeId" class="text-danger small"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="SelectedItemBrandId" class="control-label">ยี่ห้อ</label>
                <select asp-for="SelectedItemBrandId" class="form-control" asp-items="Model.ItemBrands"></select>
                <span asp-validation-for="SelectedItemBrandId" class="text-danger small"></span>
            </div>
            <div class="form-group mb-4">
                <input type="submit" value="บันทึก" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary ms-2">ยกเลิก</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
